<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jeff.isawesome.fantasyfootballrankings"
    android:versionCode="49"
    android:versionName="3.2.5.1" >
 
    <uses-sdk
        android:minSdkVersion="12" 
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/fb"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.socialize.ui.comment.CommentActivity" android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="com.socialize.ui.action.ActionDetailActivity"/>
        <activity android:name="com.socialize.ui.profile.ProfileActivity"/>
        <activity android:name="com.socialize.auth.facebook.FacebookActivity"/>
        <activity android:name="com.socialize.ui.SocializeLaunchActivity" android:noHistory="true"/>
        <activity
            android:name="com.example.fantasyfootballrankings.Pages.Home"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> 
        <activity
            android:name="com.example.fantasyfootballrankings.Pages.Rankings"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_rankings" >
        </activity>
        <activity
            android:name="com.example.fantasyfootballrankings.Pages.Trending"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_trending" >
        </activity>
        <activity
            android:name="com.example.fantasyfootballrankings.Pages.News"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_news" >
        </activity>
        <activity
            android:name="com.example.fantasyfootballrankings.Pages.DraftHistory"
            android:label="@string/title_activity_draft_history" >
        </activity>
    </application>

</manifest>